<form action="/" method="GET">
<input type="submit" value="home page">
</form>

<img src="image" /> 
<form action="/user/<%=@user.username%>" method="GET">
<input type="submit" value="Profile">
</form>


<p><%=@user.username%></p>
<p><%=@user.firstname%> <%=@user.lastname%></p>


<h4>Suggestions For You</h4>
<% @users.map do |user|%>
    <p><a href="/user/<%=user.username%>"><%=user.username%></a></p>
       <form action="/user/<%=user.username%>" method="POST">
               <input type="hidden" name="follow" value=<%=user.id%>>
               <input type="submit" value="Follow">
        </form>
<%end%>

     <form action="/logout" method="get">
     <button>Logout</button>
     </form>